<ion-content padding class="background-image">

  <div class="ion-padding" class="ion-text-center" color="primary"> 
  
     <ion-img src="/assets/logo.png" padding></ion-img>
     
    <b padding>Acesse com os dados enviados para seu e-mail</b></div>
    <br>
    <ion-item>
      <ion-input required [(ngModel)]="Cusuario" class="campoTransparente"  name="Cusuario" type="text" placeholder="Código"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required [(ngModel)]="Cpassword" class="campoTransparente" name="Cpassword" type="password" placeholder="Senha" (keyup.enter)="Login()" ></ion-input>
    </ion-item>
    <div class="ion-padding">
    
    <ion-button  expand="block" type="submit"  (click)="Login()"> <ion-icon name="log-in"></ion-icon> &nbsp;&nbsp;Login</ion-button> 
    <ion-button  expand="block" type="button"  (click)="goForget()" ><ion-icon ios="ios-send" md="md-send"></ion-icon> &nbsp;&nbsp;Esqueci minha senha</ion-button> 

    <div style="margin-top: 10px"  class="ion-text-center"><b>Tec-Hidro Mobile Versão 2.1.3</b></div>

  </div>
  
</ion-content>