<ion-header >
    <ion-toolbar color="primary">
      <ion-buttons side="start" class="techidro_barra">
        <ion-menu-button></ion-menu-button>
        <ion-title ><ion-icon name="lock"></ion-icon> &nbsp;Alterar Senha</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-text-center ion-padding" class="background-image">                 
          <p><b>Informe uma nova senha</b></p>      
      <div class="ion-padding">
            
            Seu código: <b>{{my_code}}</b>
            <br> <br>
            <ion-item>
                <ion-input required [(ngModel)]="Cpassword" name="Cpassword" placeholder="Senha Atual" type="password"></ion-input>
            </ion-item>
            
            <ion-item>
                <ion-input required [(ngModel)]="Cpassword_New" name="Cpassword_New" placeholder="Senha Nova" type="password"></ion-input>
            </ion-item>

            <ion-item>
               <ion-input required [(ngModel)]="Cpassword_Confirm" name="Cpassword_Confirm" placeholder="Confirmar Senha" type="password"></ion-input>
            </ion-item>

            <br>

            <div class="ion-padding">
              <ion-button  expand="block" type="button" (click)="ChangeMyPassword()" ><ion-icon name="refresh"></ion-icon> &nbsp;&nbsp;Alterar Senha</ion-button> 
            </div>
      
      </div>
      <br>
  
  </ion-content>
  