<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons side="start" class="techidro_barra">
      <ion-button expand="block" type="button" (click)="goBack()"  ><ion-icon name="arrow-round-back"></ion-icon></ion-button>
      <ion-title >Esqueci Minha Senha</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" class="background-image">
  <ion-img src="/assets/logo.png"></ion-img>
  <p class="explan" class="ion-text-center">
    Preencha o formulário abaixo que nossa equipe enviará uma nova senha para seu e-mail.
  </p>
  <ion-item  >
    <ion-label position="stacked"><ion-icon name="contacts"> </ion-icon> &nbsp;&nbsp;<b>Sua empresa:</b> <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required [(ngModel)]="company_name" name="company_name" type="text" placeholder=""></ion-input>
  </ion-item>
  
  <ion-item  >
    <ion-label position="stacked"><ion-icon name="contacts"> </ion-icon> &nbsp;&nbsp;<b>Seu nome:</b> <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required [(ngModel)]="user_name" name="user_name" type="text" placeholder=""></ion-input>
  </ion-item>

  <ion-item  >
    <ion-label position="stacked"><ion-icon name="contacts"> </ion-icon> &nbsp;&nbsp;<b>Seu e-mail:</b> <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required [(ngModel)]="user_email" name="user_email" type="email" placeholder=""></ion-input>
  </ion-item>
  
  <br/>
  <div class="ion-padding">
    <ion-button  expand="block" type="submit"  (click)="ForgetMyPassword()"> <ion-icon name="mail"></ion-icon> &nbsp;&nbsp;Enviar</ion-button> 
    
  </div>


</ion-content>
