<ion-header >
    <ion-toolbar color="danger">
      <ion-buttons side="start" >
        <ion-menu-button></ion-menu-button>
        <ion-title >Sair do App</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content  class="ion-text-center ion-padding" class="background-image">
    <br>
    <h4>Deseja realmente encerrar o app?</h4>
    <br>
    <ion-button  expand="block" type="submit" color="danger" (click)="logOut()"> <ion-icon name="log-in"></ion-icon> &nbsp;&nbsp;Confirmar Saída</ion-button> 

    <br>
    
    Após a saída, você poderá voltar ao app digitando seu usuário e senha

  </ion-content>
