
<ion-header class="techidro_barra" >
    <ion-toolbar color="primary">
      <ion-buttons side="start" class="techidro_barra">
        <ion-menu-button class="menuButton" ></ion-menu-button>
        <ion-title >Tec-Hidro Mobile</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding" class="background-image">
    <div class="ion-padding" class="ion-text-center">
        <ion-img src="/assets/logo.png" class="ion-padding" ></ion-img>
 
      <h2>Seja bem vindo !</h2> 
      
      <p>{{this.voce_tem_1}}<b>{{this.laudos_novos}}</b>{{this.final_1}}</p>
      <p>{{this.voce_tem_2}}<b>{{this.indicadores_novos}}</b>{{this.final_2}}</p>

      <p><b>Acesse o Menu para mais opções.</b></p>

    </div>
</ion-content>

